<div mat-dialog-content>

    <div>
        <mat-form-field>
            <mat-label>Route</mat-label>
            <input matInput [(ngModel)]="data.item.route">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Class</mat-label>
            <input matInput [(ngModel)]="data.item.class">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Icon</mat-label>
            <input matInput [(ngModel)]="data.item.icon">
        </mat-form-field>
    </div>

    <div>
        <mat-checkbox [(ngModel)]="data.item.showOnNav">Show on nav</mat-checkbox>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Index</mat-label>
            <input matInput [(ngModel)]="data.item.index" type="number">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Products</mat-label>
            <input matInput [(ngModel)]="data.item.products">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Label EN</mat-label>
            <textarea matInput [(ngModel)]="data.item.label.en"></textarea>
        </mat-form-field>
        <div class="spacing"></div>
        <mat-form-field>
            <mat-label>Label BG</mat-label>
            <textarea matInput [(ngModel)]="data.item.label.bg"></textarea>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Title EN</mat-label>
            <textarea matInput [(ngModel)]="data.item.title.en"></textarea>
        </mat-form-field>
        <div class="spacing"></div>
        <mat-form-field>
            <mat-label>Title BG</mat-label>
            <textarea matInput [(ngModel)]="data.item.title.bg"></textarea>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <mat-label>Content EN</mat-label>
            <textarea matInput [(ngModel)]="data.item.content.en"></textarea>
        </mat-form-field>
        <div class="spacing"></div>
        <mat-form-field>
            <mat-label>Content BG</mat-label>
            <textarea matInput [(ngModel)]="data.item.content.bg"></textarea>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-button (click)="onYesClick()" cdkFocusInitial>OK</button>
    </div>
</div>